@font-face {
    font-family: "Halvar Breit Rg";
    src: url("font/HalvarBreit-Rg.ttf") format("TrueType")
}

@font-face {
    font-family: "Halvar Breit Th";
    src: url("font/HalvarBreit-Th.ttf") format("TrueType")
}

@font-face {
    font-family: "Halvar Breit XBd";
    src: url("font/HalvarBreit-XBd.ttf") format("TrueType")
}

@font-face {
    font-family: "Strech Pro";
    src: url("font/StretchPro.otf") format("TrueType")
}

p {
    font-family: "Halvar Breit Rg";
    margin: 0px;
}

body {
    margin: 0px;
    background-color: #101010;
    color: white;
}

h1 {
    font-family: "Strech Pro";
    font-size: 128px;
}

main {
    padding: 1% 5%;
    display: grid;
    width: 90%;
    grid-template-columns: 60% 40%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    padding: 2% 5%;
}

#div-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#ul-nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 9%;
}

#ul-nav>li {
    font-family: "Halvar Breit Th";
    color: #717171;
}

#ul-nav>.active {
    color: white;
}

#nav-droit {
    display: flex;
    justify-content: flex-end;
    gap: 25%;
}

#p2 {
    font-family: "Halvar Breit XBd";
    margin: 0px;
    margin-top: 3%;
}

.btn-prm {
    width: 33%;
    border-radius: 18.57px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(img/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    background-size: cover;
}

.btn-src {
    width: 33%;
    border-radius: 18.57px;
    border: solid rgb(94, 177, 249);
    justify-content: center;
    display: flex;
    align-items: center;
    border-image: url(img/Rectangle\ 3.png);
    border: solid 3px;
    border-image-repeat: stretch;
}

#btn-bas {
    display: flex;
    height: 86px;
    justify-content: flex-start;
    gap: 4%;
    margin-top: 4%;
}

#footerr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20%;
}

#footer-droit {
    width: 30%;
}

#footer-gauche {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

h3 {
    font-size: 10;
    font-family: "Halvar Breit Rg";
}

h3>p {
    font-family: "Halvar Breit Rg";
    font-size: 10;
}

@media screen AND (max-width:1289px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }
}